<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Government Contacts API Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="@{'/public/stylesheets/bootstrap-responsive.min.css'}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Kontaktynaurady.cz API</a>
        </div>
      </div>
    </div>
    -->

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Kontaktynaurady.cz API</h1>
        <p>Zde naleznete návod k použití API, včetně výrazů pro hledání a formátu odpovědí.</p>
      </div>

      <div class="row">
        <div class="span12">
            <h2>O API</h2>
            <p>Zdrojem informací pro API je <a href="https://seznam.gov.cz/ovm/welcome.do">Seznam držitelů datových schránek z Portálu veřejné zprávy</a>.</p>
            <p> Api vzniklo během hackathonu <a href="https://sites.google.com/a/gug.cz/www2/rhok-2012">RHoK Prague 2012</a>
                na základě nápadu od <a href="https://twitter.com/jakubmracek">Jakuba Mráčka</a>
                a <a href="https://twitter.com/mrybi">Míšy Rybičkové</a> za <a href="http://www.osf.cz/">Open Society Fund</a>
                respektive <a href="http://www.otevrenadata.cz/">otevrenadata.cz</a>
            </p>

        </div>
      </div>


     <div class="row">
         <div class="span12">
             <h2>Všechny data jako CSV</h2>
             <p>Pres API lze ziskat aktuální seznam všech úřadů jako CSV soubor (oddělený středníky) :</p>
             <p><a href="/api/v1/organizations/csv"><code>/api/v1/organizations/csv</code></a></p>
         </div>
      </div>

      <div class="row">
        <div class="span12">
          <h2>Formát dotazu</h2>
           <p>Dotaz na API se provádí <b>HTTP GET</b> dotazem s parametry, pomocí kterých se vyhledávají organizace.</p>
           <p>Je možné / nutné určit <b>1-n parametrů</b> pro hledání. Tyto parametry se skládají pomocí logického operátoru AND. Možné parametry a jejich významy jsou popsány v sekci <a href="#fieldExplanation">Popis atributů</a></p>
           <p>Je možné používat <b>zástupný znak *</b> pro 0-n libovolných znaků.</p>
           
           <p><b>Příklady:</b></p>
           <p><a href="/api/v1/organizations?name=*Praha*"><code>/api/v1/organizations?name=*Praha*</code></a>&nbsp;&nbsp;&nbsp;Nalezne organizace s názvem začínajícím slovem "Praha" (např. Praha 1, Praha 2, ..)</p>
           <p><a href="/api/v1/organizations?code=BRECLAV"><code>/api/v1/organizations?code=BRECLAV</code></a>&nbsp;&nbsp;&nbsp;Nalezne všechny orgány státní správy s názvem začínajícím slovem "Praha"</p>
           <p><b>Poznámka:</b> parametry URL requestů je potřeba escapovat viz <a href="http://en.wikipedia.org/wiki/Percent-encoding">Percent encoding</a></p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="span12">
          <h2>Formát odpovědi</h2>
           <p>Data odpovědi API jsou ve formátu <a href="http://en.wikipedia.org/wiki/JSON">JSON</a>. Atributy datových objektů jsou popsány v sekci <a href="#fieldExplanation">Popis atributů</a></p>
           <p>Výsledkem dotazu je pole s 0-N organizacemi.</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="span12">
          <h2 id="fieldExplanation">Popis atributů / Field explanation</h2>
	      <table class="table">  
	        <thead>  
	          <tr>  
	            <th>Field Name</th>  
	            <th>Description</th>  
	          </tr>  
	        </thead>  
	        <tbody>  
				<tr>
				  <td>name</td>
				  <td>Název organizace</td>
				</tr>
				<tr>
				  <td>addressStreet</td>
				  <td>Adresa organizace - ulice a číslo popisné</td>
				</tr>
                <tr>
                  <td>addressCity</td>
                  <td>Adresa organizace - město</td>
                </tr>
                <tr>
                  <td>addressZipCode</td>
                  <td>Adresa organizace - PSČ</td>
                </tr>
<!-- 				<tr> -->
<!-- 				  <td>contactAddress</td> -->
<!-- 				  <td>Kontaktní adresa</td> -->
<!-- 				</tr> -->
				<tr>
				  <td>eRegistry</td>
				  <td>e-podatelna</td>
				</tr>
				<tr>
				  <td>organizationId</td>
				  <td>IČ</td>
				</tr>
				<tr>
				  <td>taxId</td>
				  <td>DIČ</td>
				</tr>
				<tr>
				  <td>bankAccount</td>
				  <td>Bankovní spojení</td>
				</tr>
				<tr>
				  <td>code</td>
				  <td>Kód organizace</td>
				</tr>
				<tr>
				  <td>type</td>
				  <td>Typ instituce</td>
				</tr>
				<tr>
				  <td>www</td>
				  <td>Adresa webové prezentace</td>
				</tr>
				<tr>
				  <td>email</td>
				  <td>E-mail</td>
				</tr>
				<tr>
				  <td>phone</td>
				  <td>Telefon</td>
				</tr>
				<tr>
				  <td>officeHours</td>
				  <td>Úřední hodiny</td>
				</tr>
				<tr>
				  <td>dataBoxId</td>
				  <td>Identifikátor datové schránky</td>
				</tr>
                <tr>
                  <td>radiusAroundLatitude</td>
                  <td>Zeměpisná šířka (latitude) bodu, okolo kterého chceme hledat daný úřad. Např. 49.0815275.</td>
                </tr>
                <tr>
                  <td>radiusAroundLongitude</td>
                  <td>Zeměpisná šířka (longitude) bodu, okolo kterého chceme hledat daný úřad. Např. např. 12.022</td>
                </tr>
                <tr>
                  <td>radius</td>
                  <td>Poloměr kruhu v metrech, kolem souřadnic vyjádřených <b>radiusAroundLatitude</b> respektive
                      <b>radiusAroundLongitude</b>. Úřady se omezí jen na ty, které polohou spadají do této kružnice.
                  </td>
                </tr>
	        </tbody>  
	      </table>           
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h2 name="fieldExplanation">Příklady použití / Examples</h2>
          <p><a href="/sample-map">Mashup with map</a></p>
          <p><a href="http://jsfiddle.net/CJ6yU/">JSFiddle sample</a></p>
        </div>
      </div>

      <hr>

      <footer>

        <p>
            #{set revisionNumber: play.Play.configuration.getProperty("build.revision.number")[0..7] /}
            Build: <a href="https://github.com/michalbcz/kontaktynaurady/commit/#{get 'revisionNumber' /}">#{get 'revisionNumber' /}</a>
            &copy; <a href="https://twitter.com/michalb_cz">Michal Bernhard</a> & <a href="https://github.com/vlastimil-dolejs">Vlastimil Dolejš</a> - <a href="https://sites.google.com/a/gug.cz/www2/rhok-2012">2012</a>-2015
        </p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>
