<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Government Contacts API Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="@{'/public/stylesheets/bootstrap-responsive.min.css'}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Government Contacts API</a>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Testing bed</h1>
      </div>
      
      %{
        if (flash.message) {
      }%
      
          <div class="alert alert-${flash.type ?: 'success'}">
             ${flash.message}
          </div>
          
      %{
        }
      }%
      
      <div class="row">
        <div class="span12">
          <h2>Groovy console - eat as you can</h2>
          <p>
            #{form @TestBed.evaluateGroovyScript()}
                <textarea name="script" cols="200" style="width: 1024px" rows="10">/* here be dragons .. err .. here write your uber cool groovy script */                
                </textarea>
                <br/>
                <input type="submit" value="Evaluate or die!">
            #{/form}
          </p>  
        </div>
      </div>
      
      
      <div class="row">
        <div class="span12">
          <h2>Scrape, save and show municipality page</h2>
          <i>eg. http://seznam.gov.cz/ovm/municipalityDetail.do?path=PodoliVs</i>
          <p>
            #{form @TestBed.scrapeDetailPage()}
                <input type="text" name="urlOfDetailPage">
                <input type="submit" value="OK">
            #{/form}
          </p>  
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h2>Kontaktynaurady.cz crawler + scraper</h2>
          <p>
            #{form @TestBed.startScrapeJob()}
                <input type="submit" value="Start scrape ">
            #{/form}
          </p>  
        </div>
      </div>

      </div>

      <hr>

      <footer>
        <p>&copy; Michal Bernhard & Vlastimil Dolejš @ <a href="https://sites.google.com/a/gug.cz/www2/rhok-2012">RHoK Prague 2012</a></p>
      </footer>

    </div> <!-- /container -->



  </body>
</html>
